/* Root principale */
#root {
    -fx-background-color: #4a4a4a !important;
}


.anchor-pane {
    -fx-background-color: #4a4a4a !important;
}


.label {
    -fx-text-fill: white !important;
}


/* Label secondarie / descrittive */
#themeApplicationAccountPopupLabel, #cardCreditLabel, #cardNicknameLabel, #cardNumberLabel, #cardExpirationLabel, #settingsAccountPopupButton, #lastFiveExpensesTitleLabel{
    -fx-text-fill: black !important;
}

#accountAccountPopupLabel, #nameSurnameAccountPopupLabel, #emailPopupAccountLabel, #themeApplicationAccountPopupLabel, #themeColorAccountPopupLabel{
    -fx-text-fill: #E0E0E0 !important;
}


#lastFiveExpensesVBox > .Label{
    -fx-text-fill: #E0E0E0 !important;
}

#lastFiveExpensesVBox, #sidebarGridPane , #transactionHistoryAnchorPane{
    -fx-background-color: #4a4a4a !important;
}

/* Button generico */
.button {
    -fx-text-fill: black !important;
}

#homePageGridPane{
    -fx-background-color: #3c3c3c !important;
}

.scroll-pane > .viewport {
    -fx-background-color: #4a4a4a;
    -fx-background-radius: 15 ;
}


/* Separatori */
.separator {
    -fx-opacity: 0.7 !important;
}


