
#root {
    -fx-background-color: white !important;
    -fx-background-radius: 12 !important;
}

.anchor-pane {
    -fx-background-color: white !important;
}

.label {
    -fx-text-fill: black !important;
}

#themeApplicationAccountPopupLabel,
#themeColorAccountPopupLabel {
    -fx-text-fill: black !important;
}
.radio-button {
    -fx-text-fill: #1F1F1F !important;

}



.button {
    -fx-text-fill: white !important;

}


#settingsAccountPopupButton {
    -fx-background-color: #ff0000 !important;
    -fx-text-fill: white !important;

}

