
#root {
    -fx-background-color: white !important;
    -fx-background-radius: 12 !important;
}

.anchor-pane {
    -fx-background-color: white !important;
}

.label {
    -fx-text-fill: black !important;
}

#eyeButton {
    -fx-text-fill: black !important;
}

#accessTitleLabel{
    -fx-text-fill: white !important;
}

#themeApplicationAccountPopupLabel,
#themeColorAccountPopupLabel {
    -fx-text-fill: black !important;
}
.radio-button {
    -fx-text-fill: #1F1F1F !important;

}



.button {
    -fx-text-fill: white !important;

}


#settingsAccountPopupButton {
    -fx-background-color: #ff0000 !important;
    -fx-text-fill: white !important;

}

#registerTitleLabel1,
#registerTitleLabel2,
#registerTitleLabel3 {
    -fx-text-fill: white !important !important;
}

#gridPaneFriends {
    -fx-background-color: white !important;
}

#AnchorPaneFriendsPage {
    -fx-background-color: white !important;
}

#regionFriend {
    -fx-background-color: white !important;
}

#scrollPaneFriends {
    -fx-background-color: white !important;
}

#scrollPaneFriends .viewport {
    -fx-background-color: white !important;
}

#scrollPaneFriends .content {
    -fx-background-color: white !important;
}

#scrollPaneFriends .corner {
    -fx-background-color: white !important;
}

#friendsVBox {
    -fx-background-color: white !important;
}

#anchorePaneFriends2 {
    -fx-background-color: #e4e4e4 !important;
}

#scrollPaneFriends2 {
    -fx-background-color: #e4e4e4 !important;
}

#scrollPaneFriends2 .viewport {
    -fx-background-color: #e4e4e4 !important;
}

#scrollPaneFriends2 .content {
    -fx-background-color: #e4e4e4 !important;
}

#scrollPaneFriends2 .corner {
    -fx-background-color: #e4e4e4 !important;
}

#chatVBox {
    -fx-background-color: #e4e4e4 !important;
}
