/* ==========================================================
   ROOT / CONTROLLI GENERALI
   ========================================================== */

.root {
    -fx-background-color: white !important;
}

.button {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: white;
    -fx-border-color: #d9d9d9;
}

.context-menu .label {
    -fx-text-fill: black;
}

.separator {
    -fx-opacity: 1 !important;
}

Line {
    -fx-stroke: #595959 !important;
}

.menu-button .arrow {
    -fx-background-color: white !important;
}

.menu-button:hover .arrow {
    -fx-background-color: #f0f0f0 !important;
}

.text-field {
    -fx-background-color: white !important;
    -fx-text-fill: black !important;
    -fx-background-insets: 0 !important;
    -fx-border-color: #c0c0c0 ;
    -fx-border-width: 1 !important;
    -fx-border-radius: 10 ;
}

.text-field:focused {
    -fx-background-color: white !important;
    -fx-text-fill: black !important;
    -fx-focus-color: transparent !important;
    -fx-faint-focus-color: transparent !important;
    -fx-border-width: 1 !important;
    -fx-background-insets: 0 !important;
}

.check-box > .box {
    -fx-background-insets: 0 !important;
    -fx-border-color: #bababa !important;
    -fx-border-width: 1px !important;
    -fx-border-radius: 2px !important;
}

.check-box:focused > .box {
    -fx-focus-color: transparent !important;
    -fx-faint-focus-color: transparent !important;
    -fx-background-insets: 0 !important;
    -fx-border-color: #bababa !important;
}

.radio-button > .radio {
    -fx-background-insets: 0 !important;
    -fx-border-color: #bababa !important;
    -fx-border-width: 1px !important;
    -fx-border-radius: 10px !important;
}

.radio-button:focused > .radio {
    -fx-focus-color: transparent !important;
    -fx-faint-focus-color: transparent !important;
    -fx-background-insets: 0 !important;
    -fx-border-color: #bababa !important;
}

.text-input {
    -fx-highlight-fill: red;
    -fx-highlight-text-fill: white;
}

/* ==========================================================
   SCROLLBAR E SCROLLPANE UNIFICATE (TUTTI I COMPONENTI)
   ========================================================== */

.scroll-bar {
    -fx-background-color: transparent !important;
}


.scroll-bar .track {
    -fx-background-color: #8b0000 !important;
    -fx-background-radius: 8 !important;
    -fx-border-color: transparent !important;
}

.scroll-bar .thumb {
    -fx-background-color: #ff0000 !important;
    -fx-background-radius: 8 !important;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #ff0000 !important;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.25), 28, 0.17, -10, -10) !important;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: #cc0000 !important;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent !important;
    -fx-padding: 0 !important;
    -fx-shape: "" !important;
    -fx-max-width: 0 !important;
}

.scroll-bar:vertical {
    -fx-pref-width: 12 !important;
}

.scroll-bar:horizontal {
    -fx-pref-height: 12 !important;
    -fx-padding: 0 15 0 15 !important;
}

.scroll-pane {
    -fx-background-color:  #e4e4e4 !important;
    -fx-padding: 0 !important;
    -fx-background-radius: 30;
}

.scroll-pane .viewport {
    -fx-background-color: transparent !important;
}

#favouritesCardScrollPane {
    -fx-background-color: #e4e4e4 !important;
}

#favouritesCardScrollPane .scroll-bar:horizontal {
    -fx-padding: 0 15 0 15 !important;
    -fx-background-color: transparent !important;
}

/* ==========================================================
   DATE PICKER
   ========================================================== */

.date-picker {
    -fx-background-color: transparent !important;
    -fx-border-color: transparent !important;
    -fx-background-insets: 0 !important;
    -fx-border-width: 0 !important;
}

.date-picker > .text-field,
.date-picker > .text-field:focused {
    -fx-background-color: white !important;
    -fx-text-fill: black !important;
    -fx-background-insets: 0 !important;
    -fx-border-color: #c0c0c0 transparent #c0c0c0 #c0c0c0 !important;
    -fx-border-width: 1px !important;
    -fx-background-radius: 6px 0 0 6px !important;
    -fx-border-radius: 6px 0 0 6px !important;
}

.date-picker > .arrow-button {
    -fx-background-color: #ff0000 !important;
    -fx-background-insets: 0 !important;
    -fx-border-color: #c0c0c0 #c0c0c0 #c0c0c0 transparent !important;
    -fx-border-width: 1px !important;
    -fx-background-radius: 0 6px 6px 0 !important;
    -fx-border-radius: 0 6px 6px 0 !important;

    -fx-effect: innershadow(
        three-pass-box,
        rgba(0,0,0,0.15),
        27.63,
        0.17,
        -10,
        -10
    ) !important;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color: white !important;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #ff0000;
    -fx-effect: innershadow(
        three-pass-box,
        rgba(0,0,0,0.25),
        27.63,
        0.17,
        -10,
        -10
    );
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.date-picker-popup .month-year-pane .button {
    -fx-background-color: transparent;
    -fx-mark-color: white;
}

.date-picker-popup .left-arrow,
.date-picker-popup .right-arrow {
    -fx-background-color: white;
}

.date-picker-popup .day-name-cell {
    -fx-text-fill: black !important;
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: black !important;
}

.date-picker-popup .calendar-grid {
    -fx-background-color: white !important;
}

.date-picker-popup .today {
    -fx-text-fill: #ff0000  !important;
    -fx-font-weight: bold !important;
    -fx-background-insets: 0 !important;
}

.date-picker-popup .date-cell:selected {
    -fx-background-color: #ff0000 !important;
    -fx-text-fill: white !important;
    -fx-background-insets: 0 !important;
    -fx-effect: innershadow(
        three-pass-box,
        rgba(0,0,0,0.15),
        27.63,
        0.17,
        -10,
        -10
    ) !important;
}

.date-picker-popup .day-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: white !important;
    -fx-text-fill: black !important;
    -fx-background-insets: 0 !important;
}

.date-picker-popup .day-cell:focused {
    -fx-background-color: white !important;
}

.date-picker-popup .previous-month,
.date-picker-popup .next-month {
    -fx-background-color: #f2f2f2 !important;
    -fx-text-fill: #b0b0b0 !important;
}

.date-picker-popup .day-cell,
.date-picker-popup .week-number-cell,
.date-picker-popup .day-name-cell {
    -fx-pref-width: 30px !important;
    -fx-pref-height: 34px !important;
    -fx-max-width: 30px !important;
    -fx-max-height: 34px !important;
    -fx-min-width: 30px !important;
    -fx-min-height: 24px !important;
}

.date-picker-popup .calendar-grid {
    -fx-pref-height: 180px !important;
    -fx-max-height: 180px !important;
    -fx-min-height: 180px !important;
}


/* ==========================================================
   POPUP
   ========================================================== */


#root{
    -fx-background-color: white !important;
}

#addWidget01GridPane .label {
    -fx-text-fill: white;
}

#quickContactNameLabel{
    -fx-text-fill: black !important;
}

#transactionHistoryTextField {
    -fx-background-radius: 15 !important;
    -fx-border-radius: 15 !important;
    -fx-border-color: transparent !important;
}

#nameTextField,
#ibanTextField,
#amountTextField{
    -fx-background-radius: 7 !important;
    -fx-border-radius: 7 !important;
}

#anchorPaneBlockUserPopup{
    -fx-background-color: white !important;
}

#chatSupportScrollPane{
    -fx-background-color: #ffffff !important;
    -fx-border-color: transparent !important;
}

#chatDisplay{
 -fx-background-color: #ffffff !important;
}

#confirmAddMoneyPopupTextField{
    -fx-background-color: #ff0000 !important;
    -fx-border-color: #ff0000 !important;
}

#spendingLimitTextField {
    -fx-background-color: #595959 ;
    -fx-text-fill: white ;
    -fx-prompt-text-fill: #bdbdbd ;
    -fx-border-radius: 10 ;
}

#closeAccountPopup{
    -fx-text-fill: #696969 !important;
}

#closeCreateCardPopup{
    -fx-text-fill: #696969 !important;
}

#closeFriendshipRequestPopup{
    -fx-text-fill: #696969 !important;
}

#closeAddAccountMoneyPopup{
    -fx-text-fill: #5a5a5a !important;
}

#transactionHistoryTextField {
    -fx-border-color: transparent !important;
    -fx-border-radius: 15 !important;
}

#textFieldChatSupport{
    -fx-prompt-text-fill: #8a8a8a !important;
}

#closeMenageCardPopup{
    -fx-text-fill: #696969 !important;
}

/* ==========================================================
   COMPONENT
   ========================================================== */

#creditCardRectangleText{
    -fx-fill: black !important;
}

#textLabel {
    -fx-text-fill: white !important;
}

#notificationAnchorPane {
    -fx-border-color: #595959 !important;
}

#notificationSliderAnchorPane{
    -fx-border-color: #e4e4e4 !important;
    -fx-border-width: 0 0 0 1 !important;
}

#notificationSliderVBox{
    -fx-background-color: white !important;
}

#notificationVBox{
    -fx-background-color: white !important;
}

#transactionSubjectLabel,
#transactionDateLabel{
    -fx-text-fill: black !important;
}

#transactionValueLabel{
    -fx-text-fill: red !important;
}

#addAccountMoneyPageLabel{
    -fx-text-fill: black !important;
}

/* ==========================================================
   PAGE
   ========================================================== */

   #bankAccountSettingsPageLabel {

       -fx-text-fill: linear-gradient(to bottom,
           #ff6666 0%,
           #ff0000 45%,
           #e60000 100%
       ) !important;

   }


#bankAccountSettingsPageCheckBox,
#bankAccountSettingsPageCheckBox .label,
#bankAccountSettingsPageCheckBox .text {
    -fx-text-fill: black !important;
}

#bankAccountSettingsPageCheckBox .box {
    -fx-border-width: 1 !important;
    -fx-border-color: #5a5a5a  !important;
    -fx-background-color: white !important;
    -fx-background-radius: 3 !important;
}

#bankAccountSettingsPageCheckBox:selected .box {
    -fx-background-color: #ff0000 !important;
    -fx-background-insets: 0 !important;
    -fx-background-radius: 3px !important;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.25), 27.63, 0.17, -10, -10) !important;
}

#bankAccountSettingsPageCheckBox .mark {
    -fx-background-color: transparent !important;
    -fx-shape: "M1.23,6.32 L3.58,8.67 L8.77,3.48 L9.71,4.42 L3.58,10.55 L0.29,7.26 Z" !important;
    -fx-background-insets: 0 !important;
}

#bankAccountSettingsPageCheckBox:selected .mark {
    -fx-background-color: white !important;
}

#bankAccountSettingsPageCheckBox:focused .box {
    -fx-faint-focus-color: transparent !important;
    -fx-focus-color: transparent !important;
}

#darkAppleButton, #darkGoogleButton{
    visibility: false ;
}

#whiteAppleButton, #whiteGoogleButton {
    visibility: true ;
}

#pageSeparator {
       -fx-opacity: 1 !important;
       -fx-background-color: transparent !important;
       -fx-pref-height: 4px !important;
       -fx-min-height: 4px !important;
   }

   #pageSeparator .line {
       -fx-padding: 0 !important;
       -fx-background-color: linear-gradient(to bottom, #FF3333 0%, #FF0000 50%, #CC0000 100%) !important;
       -fx-background-insets: 0 !important;
       -fx-border-width: 0 !important;
       -fx-stroke-width: 0 !important;
       -fx-pref-height: 4px !important;
       -fx-min-height: 4px !important;
   }

#friendsScrollPane{
    -fx-background-insets: 0 !important;
    -fx-padding: 0 !important;
    -fx-border-color: transparent !important;
    -fx-border-width: 0 !important;
    -fx-focus-color: transparent !important;
    -fx-faint-focus-color: transparent !important;
}

#chatAnchorPane {
    -fx-background-color: #e4e4e4 !important;
}

#chatScrollPane {
    -fx-background-insets: 0 !important;
    -fx-padding: 0 !important;
    -fx-border-color: transparent !important;
    -fx-border-width: 0 !important;
    -fx-focus-color: transparent !important;
    -fx-faint-focus-color: transparent !important;
}

#chatVBox {
    -fx-background-color: #e4e4e4 !important;
}

#regionChat {
    -fx-border-color: #e4e4e4 !important;
    -fx-background-color: white !important;
    -fx-border-width: 2 !important;
}

#eyeButton {
    -fx-text-fill: black !important;
}

#ownerNameTextField,
#cardNumberTextField,
#cardNumberTextField,
#expirationTextField,
#cvvTextField,
#moneyTextField{
    -fx-background-radius: 10 !important;
    -fx-border-radius: 10 !important;
}

#addAccountMoneyPageTextField{
    -fx-background-radius: 10 !important;
    -fx-border-radius: 10 !important;
    -fx-background-color: #ff0000 !important;
    -fx-border-color: #ff0000 !important;
    -fx-text-fill: white !important;
}