/* Root principale */
#root {
    -fx-background-color: #4a4a4a !important;
}


.anchor-pane {
    -fx-background-color: #4a4a4a !important;
}


.label {
    -fx-text-fill: white !important;
}

.grid-pane {
    -fx-background-color: #4a4a4a;
}

/* Label secondarie / descrittive */
#themeApplicationAccountPopupLabel {
    -fx-text-fill: black !important;
}

#accountAccountPopupLabel, #nameSurnameAccountPopupLabel, #emailPopupAccountLabel, #themeApplicationAccountPopupLabel {
    -fx-text-fill: #E0E0E0 !important;
}


#lastFiveExpensesVBox > .Label{
    -fx-text-fill: #E0E0E0 !important;
}

#lastFiveExpensesVBox {
    -fx-background-color: #4a4a4a;
}

/* RadioButton */
#themeColorAccountPopupLabel {
    -fx-text-fill: #E0E0E0 !important;
}

/* Button generico */
.button {

    -fx-text-fill: black !important;

}

.scroll-pane > .viewport {
    -fx-background-color: #4a4a4a;
    -fx-background-radius: 0 15 0 15 ;
}

/* Pulsante impostazioni */
#settingsAccountPopupButton {
    -fx-text-fill: black !important;
}

#lastFiveExpensesTitleLabel{
    -fx-text-fill: black !important;
}

/* Separatori */
.separator {
    -fx-opacity: 0.7 !important;
}
